.agent {
    height: 342px;
    background: url(../img/bck/second_bck.png) center (center/cover) no-repeat;
    padding: 58px 0 75px 0;
    .agent__block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .agent__item {
        width: 102px;
        height: 102px;
        border: 1px solid $white_color;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 48px;
            height: 51px;
            margin-bottom: 10px;
        }
    }
    h2 {
        color: $white_color;
        font-size: 26px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: 23px;
        text-align: center;
        margin-top: 20px;
    }
    .agent__text {
        margin-top: 22px;
        color: $white_color;
        font-size: 19px;
        font-weight: 300;
        font-style: normal;
        letter-spacing: normal;
        line-height: 27px;
        text-align: center;
    }
}