.menegments {
    min-height: 342px;
    padding: 58px 0 76px 0;
    background: url(../img/bck/bck_4.png) center (center/cover) no-repeat;
    .managments-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menegments-block__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 102px;
        height: 102px;
        border: 1px solid #ffffff;
        border-radius: 100%;
        img {
            width: 53px;
            height: 53px;
        }
    }
    .menegments-block__title {
        margin-top: 20px;
        color: $white_color;
        font-size: 26px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: 23px;
        text-align: center;
    }
    .menegments-block__text {
        margin-top: 7px;
        color: $white_color;
        font-size: 19px;
        font-weight: 300;
        font-style: normal;
        letter-spacing: normal;
        line-height: 27px;
        text-align: center;
    }
}