.promo {
    min-height: 677px;
    background: url(../img/bck/bck_fly.png) center (center/cover) no-repeat;
    padding: 23px 0 82px 0;
    .promo__header {
        display: flex;
        justify-content: space-between;
    }
    .header__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        .header__link {
            border-right: 1px dotted $white_color;
            padding: 0 10px;
            &:last-child {
                border-right: none;
            }
            &:hover {
                color: $first_color;
            }
            
        }
        .header__link {
            color: $white_color;
            font-size: 15px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: normal;
            line-height: 16.71px;
            text-align: left;
            text-decoration: none;
        }
    }
    .header__contacts {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 15px;
        .header__question {
            color: $white_color;
            font-size: 14px;
            font-weight: 300;
            font-style: normal;
            letter-spacing: normal;
            line-height: 24px;
            text-align: right;
        }
        .header__phone {
            color: $white_color;
            font-size: 19px;
            font-weight: 700;
            font-style: normal;
            letter-spacing: normal;
            line-height: 24px;
            text-align: right;
            text-decoration: none;
        }

    }
    .promo__content {
        margin-top: 5px;
        .promo__content-text {
            color: $white_color;
            font-size: 24px;
            font-weight: 300;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-align: center;
        }
        .promo__title {
            margin-top: 26px;
            color: $first_color;
            font-family: "Roboto Condensed";
            font-size: 72px;
            font-weight: 700;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-align: center;
            text-transform: uppercase;
        }
        .promo__subtitle {
            margin-top: 9px;
            color: $white_color;
            font-size: 42px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-align: center;
        }
        .promo__divider {
            margin: 38px auto 31px auto;
            color: #ffffff;
            img {
                display: block;
                margin: 0 auto;
            }

        }
    }
    .promo-item {
        margin-top: 31px;
        .promo-item__img {
            display: block;
            margin: 0 auto;
        }
        .promo-item__text {
            margin-top: 16px ;
            color: $white_color;
            font-size: 16px;
            font-weight: 300;
            font-style: normal;
            letter-spacing: normal;
            line-height: 22px;
            text-align: center;
        }

    }
}
