.title {
    color: #2e2e2e;
    font-size: 26px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 32px;
    &_work {
        color: #2e2e2e;
        font-size: 26px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: 23px;
        text-align: center;
        text-transform: uppercase;
    }
}