.title {
    color: #2e2e2e;
    font-size: 26px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 32px;
    position: relative;
    &_line {
        &:before {
            content: "";
            position: absolute;
            width: 148px;
            height: 1px;
            background-color: $first_color;
            bottom: 0px;
            top: 45px;
            right: 45%;
            margin: 0px -23px 0px 0px;
        }
    }
    
}