.work {
    height: 620px;
    padding: 51px 0 57px 0;
    .work__block {
        margin-top: 37px;
    }
    .work__toptext {
        margin-top: 28px;
        color: $first_color;
        font-size: 18px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
    }
    .work__text {
        margin-top: 15px;
        color: #3a3a3a;
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        letter-spacing: normal;
        line-height: 22px;
        text-align: justify;
    }
}