@import "variable";
@import "library/font";
@import "library/bootstrap-grid.min";
@import "library/bootstrap-reboot.min";
@import "promo";
@import "button";
@import "title";
@import "advantages";
@import "work";
@import "agent";


* {font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1145px;
}
hr {
    width: 148px;
    height: 3px;
    color: #810505;
    margin: 0 auto;
    margin-top: 20px;
}



